<section  class="usa-section pt-0 mt-0" id="hero">
<div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/img/slider-1.webp" class="d-block w-100" alt="Slide One">
          <div class="overlay"></div>
          <div class="carousel-caption d-none d-md-block">
          <h1>Sustainable City Infrastructure Plan</h1>
          <p>Long-term investment to modernize public infrastructure. Focused on reducing emissions, improving transit, building resilient utilities</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="assets/img/slider-2.webp" class="d-block w-100" alt="Slide Two">
          <div class="overlay"></div>
          <div class="carousel-caption d-none d-md-block">
          <h2>Neighborhood Green Spaces Program</h2>
          <p>Long-term investment to modernize public infrastructure. Focused on reducing emissions, improving transit, building resilient utilities</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="assets/img/slider-3.webp" class="d-block w-100" alt="Slide Three">
          <div class="overlay"></div>
          <div class="carousel-caption d-none d-md-block">
          <h2>Clean Mobility Pilot</h2>
          <p>Long-term investment to modernize public infrastructure. Focused on reducing emissions, improving transit, building resilient utilities</p>
          </div>
        </div>
      </div>
        <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>
</section>

 <section class="usa-section grid-container pt-0 mt-0">
            <div class="margin-bottom-4 border-bottom-05">
                <h2 class="font-heading-xl">
                   Our Story
                </h2>
            </div>

            <div class="grid-row grid-gap-3 flex-between">
                <div class="desktop:grid-col-5 tablet:grid-col-4 display-flex flex-align-center flex-justify-center">
                    <img
                        class="height-full width-full"
                        src="assets/img/about-us.webp"
                        alt="A placeholder image" />
                </div>
                <div class="desktop:grid-col-7 tablet:grid-col-8 usa-prose display-flex flex-column">
                  <h3 class="tablet:margin-top-0">
Professional (Paid) search engine service
to find most and latest government RFPs.
                  </h3>
                  <p> Visit RFPMart.com today to begin your journey to supply your services and products to Government Agencies!</p>
                    <p>
                        Established in 2009, RFPMart.com specializes in providing a wide range of Government RFPs, Tenders, Solicitations, Bids, Contracts, RFQs, RFIs, RFTs, and procurement documents, along with contact details. Our offerings include complete sets of Government RFPs, Tenders, Solicitations, Bids, Contracts, RFQs, RFIs, RFTs, and procurement documents, all with detailed contact information. Think of us as a specialized search engine, finely tuned for government procurement needs. We gather information from Federal, State, County, City, Municipal, and Local Governments, as well as from other entities such as Colleges, Universities, School Districts, Hospitals, and more. With our support, Government Contractors and Suppliers can concentrate their efforts on securing lucrative Government RFPs, Bids, and Contracts, thereby saving valuable time otherwise spent on searching.
                    </p>
                    <ul class="usa-icon-list padding-top-3">
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon text-green">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use href="assets/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
     Email alerts for personalized RFPs across the US and Canada
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon text-green">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use href="assets/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">RFPs for offshore projects</div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon text-green">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use href="assets/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">Monthly Subscription</div>
  </li>
</ul>
                </div>
            </div>
        </section>


        <section class="usa-section grid-container pt-0">
            <div class="margin-bottom-4 border-bottom-05">
                <h2 class="font-heading-xl">
                    Transforming Your Vision into Reality with Digital Expertise
                </h2>
                <p> We specialize in creating custom solutions for your unique needs in Web Design & Development, Procurement Services and Solutions, Digital Marketing and SEO, Artificial Intelligence, E-Commerce Development, RFP Writing, Cloud Services, CMS Development and more. Our team is ready to bring your digital vision to reality.</p>
            </div>
            <ul class="usa-card-group grid-row grid-gap-2">
                <li class="usa-card tablet:grid-col">
                    <div class="usa-card__container hover:shadow-4">
                        <div class="usa-card__header">
                            <h4 class="usa-card__heading" id="culture-heritage-heading">Procurement Services</h4>
                        </div>
                        <div class="usa-card__media">
                            <div class="usa-card__img height-card">
                                <img
                                    src="https://www.uswebdesignsystem.org/uswds-1/images/webp/card-visit-culture-heritage.webp"
                                    alt="A placeholder image" />
                            </div>
                        </div>
                        <div class="usa-card__body padding-bottom-3 text-italic">
                            <p>
                                Streamline procurement with our document finding expertise, ensuring efficiency.
                            </p>
                        </div>

                        <a href="#"
                            class="display-block position-absolute top-0 left-0 width-full height-full z-200"
                            aria-labelledby="culture-heritage-heading">
                            <span class="usa-sr-only">Read more</span>
                        </a>
                    </div>
                </li>
                <li class="usa-card tablet:grid-col">
                    <div class="usa-card__container hover:shadow-4">
                        <div class="usa-card__header">
                            <h4 class="usa-card__heading" id="nature-outdoors-heading">Procurement Solutions</h4>
                        </div>
                        <div class="usa-card__media">
                            <div class="usa-card__img height-card">
                                <img
                                    src="https://www.uswebdesignsystem.org/uswds-1/images/webp/card-visit-nature-outdoors.webp"
                                    alt="A placeholder image" />
                            </div>
                        </div>
                        <div class="usa-card__body padding-bottom-3 text-italic">
                            <p>
                                “Optimize procurement processes with custom solutions tailored for cost-effectiveness.”
                            </p>
                        </div>

                        <a href="#"
                            class="display-block position-absolute top-0 left-0 width-full height-full z-200"
                            aria-labelledby="nature-outdoors-heading">
                            <span class="usa-sr-only">Read more</span>
                        </a>
                    </div>
                </li>
                <li class="usa-card tablet:grid-col">
                    <div class="usa-card__container hover:shadow-4">
                        <div class="usa-card__header">
                            <h4 class="usa-card__heading" id="community-life-heading">RFP Writing </h4>
                        </div>
                        <div class="usa-card__media">
                            <div class="usa-card__img height-card">
                                <img
                                    src="https://www.uswebdesignsystem.org/uswds-1/images/webp/card-visit-community-life.webp"
                                    alt="A placeholder image" />
                            </div>
                        </div>
                        <div class="usa-card__body padding-bottom-3 text-italic">
                            <p>
                                “Elevate your procurement process with expertly tailored RFP writing services.”
                            </p>
                        </div>
                        <a href="#"
                            class="display-block position-absolute top-0 left-0 width-full height-full z-200"
                            aria-labelledby="community-life-heading">
                            <span class="usa-sr-only">Read more</span>
                        </a>
                    </div>
                </li>
            </ul>
        </section>

        <section class="grid-container usa-section pt-0 top-20">
  <div class="margin-bottom-4 border-bottom-05">
                <h2 class="font-heading-xl">
                    Our Mission
                </h2>
            </div>
<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <div class="usa-summary-box__text">
      <p>Our mission is to foster a safe, vibrant, and inclusive community. We deliver essential services, support economic opportunity, and protect our natural and public spaces.

      </p>
      <p>We work in partnership with residents and local organizations to strengthen neighborhoods, maintain reliable infrastructure, and plan for a sustainable future.</p>
      <p>Our Goals:</p>
      <ul class="usa-list">
        <li>
          Support community well-being
        </li>
        <li>
          Encourage civic participation
        </li>
        <li>
          Maintain strong infrastructure
        </li>
        <li>
          Promote economic stability
        </li>
        <li>
          Protect the environment
        </li>
      </ul>
    </div>
  </div>
</div>
</section>

        <section class="usa-section grid-container pt-0 mt-0">
          <div class="tablet:grid-col-12">
                    <div class="margin-bottom-4 border-bottom-05">
                        <h2 class="font-heading-xl">
                            Best pathway to our clients.
                        </h2>
                        <p>Our consulting process begins with a thorough assessment of your current IT infrastructure, workflows, and pain points.</p>
                    </div>
                    <div class="usa-accordion usa-accordion--bordered margin-bottom-3">
                        <h4 class="usa-accordion__heading">
                            <button
                                type="button"
                                class="usa-accordion__button hover:shadow-4"
                                aria-expanded="false"
                                aria-controls="a1">
                               Discovery and Analysis
                            </button>
                        </h4>
                        <div id="a1" class="usa-accordion__content">
                            <p>Perform a analysis of the client's existing IT systems. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore possimus similique nemo odit doloremque laudantium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore possimus similique nemo odit doloremque laudantium?</p>
                        </div>

                        <h4 class="usa-accordion__heading mt-3">
                            <button
                                type="button"
                                class="usa-accordion__button hover:shadow-4"
                                aria-expanded="false"
                                aria-controls="a2">
                                Tailored Solutions
                            </button>
                        </h4>
                        <div id="a2" class="usa-accordion__content">
                            <p>Develop IT solutions based on the analysis phase. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore possimus similique nemo odit doloremque laudantium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore possimus similique nemo odit doloremque laudantium?</p>
                        </div>

                        <h4 class="usa-accordion__heading mt-3">
                            <button
                                type="button"
                                class="usa-accordion__button hover:shadow-4"
                                aria-expanded="false"
                                aria-controls="a3">
                                Deployment and Support
                            </button>
                        </h4>
                        <div id="a3" class="usa-accordion__content">
                            <p>Regularly communicate with our client to any concern. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore possimus similique nemo odit doloremque laudantium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore possimus similique nemo odit doloremque laudantium?</p>
                        </div>
                    </div>
        </section>
         <section class="usa-graphic-list usa-section usa-section--dark">
            <div class="grid-container">
                <div class="margin-bottom-4 border-bottom-05">
                    <h2 class="font-heading-xl">
                        What We're known For
                    </h2>
                </div>
                <div class="usa-graphic-list__row grid-row grid-gap">
                    <div class="usa-media-block tablet:grid-col">
                        <img
                            class="usa-media-block__img"
                            src="https://www.uswebdesignsystem.org/uswds-1/images/icons8-innovation-64.png"
                            alt="Alt text" />
                        <div class="usa-media-block__body">
                            <h2 class="usa-graphic-list__heading">
                                Innovation & Industry
                            </h2>
                            <p>
                                A growing tech and creative sector supported by local universities, entrepreneurs, and forward-thinking city initiatives.
                            </p>
                        </div>
                    </div>
                    <div class="usa-media-block tablet:grid-col">
                        <img
                            class="usa-media-block__img"
                            src="https://www.uswebdesignsystem.org/uswds-1/images/icons8-mountain-city-64.png"
                            alt="Alt text" />
                        <div class="usa-media-block__body">
                            <h2 class="usa-graphic-list__heading">
                                Natural Beauty
                            </h2>
                            <p>
                                Riverfront trails, expansive parks, and protected green spaces that connect residents to outdoor recreation year-round.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="usa-graphic-list__row grid-row grid-gap">
                    <div class="usa-media-block tablet:grid-col">
                        <img
                            class="usa-media-block__img"
                            src="https://www.uswebdesignsystem.org/uswds-1/images/icons8-mountain-city-64.png"
                            alt="Alt text" />
                        <div class="usa-media-block__body">
                            <h2 class="usa-graphic-list__heading">
                                Cultural Life
                            </h2>
                            <p>
                                A vibrant mix of festivals, live performances, public art, and community events that celebrate Riverview’s diverse heritage.
                            </p>
                        </div>
                    </div>
                    <div class="usa-media-block tablet:grid-col">
                        <img
                            class="usa-media-block__img"
                            src="https://www.uswebdesignsystem.org/uswds-1/images/icons8-innovation-64.png"
                            alt="Alt text" />
                        <div class="usa-media-block__body">
                            <h2 class="usa-graphic-list__heading">
                                Strong Community Values
                            </h2>
                            <p>
                                A welcoming atmosphere defined by volunteerism, neighborhood pride, and a shared commitment to building an inclusive and sustainable future.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="grid-container usa-section">
            <div class="margin-bottom-4 border-bottom-05">
                <h2 class="font-heading-xl margin-top-0">
                    News
                </h2>
            </div>
            <div class="grid-row grid-gap">
                <div class="usa-card-group">
                    <div class="usa-card tablet:grid-col-4 desktop:grid-col-4">
                        <div class="usa-card__container">
                            <div class="usa-card__header">
                                <p class="font-body-xs text-base">
                                    JAN 12, 2026
                                </p>
                                <h4 class="usa-card__heading">Severe Weather Preparedness Week Begins</h4>
                            </div>
                            <div class="usa-card__body">
                                <p>
                                    The Emergency Management Department has launched a week-long campaign offering tips, workshops, and resources to help residents prepare for winter storms and severe weather conditions.
                                </p>
                            </div>
                            <div class="usa-card__footer">
                                <a href="#" class="usa-link">
                                    <span class="text-primary">Read More</span>
                                    <svg class="usa-icon text-primary" aria-hidden="true" focusable="false" role="img">
                                        <use href="assets/img/sprite.svg#arrow_forward"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="usa-card tablet:grid-col-4 desktop:grid-col-4">
                        <div class="usa-card__container">
                            <div class="usa-card__header">
                                <p class="font-body-xs text-base">
                                    JAN 11, 2026
                                </p>
                                <h4 class="usa-card__heading">New Community Alert System Now Live</h4>
                            </div>
                            <div class="usa-card__body">
                                <p>
                                    A new countywide emergency alert system is now available, providing faster, more reliable notifications through text, email, and voice messages during critical incidents.
                                </p>
                            </div>
                            <div class="usa-card__footer">
                                <a href="#" class="usa-link">
                                    <span class="text-primary">Read More</span>
                                    <svg class="usa-icon text-primary" aria-hidden="true" focusable="false" role="img">
                                        <use href="assets/img/sprite.svg#arrow_forward"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="usa-card tablet:grid-col-4 desktop:grid-col-4">
                        <div class="usa-card__container">
                            <div class="usa-card__header">
                                <p class="font-body-xs text-base">
                                    JAN 10, 2026
                                </p>
                                <h4 class="usa-card__heading">CERT Volunteers Recognized</h4>
                            </div>
                            <div class="usa-card__body">
                                <p>
                                    Community Emergency Response Team volunteers were honored at a recognition ceremony for their dedication and support during recent public safety events and training initiatives.
                                </p>
                            </div>
                            <div class="usa-card__footer">
                                <a href="#" class="usa-link">
                                    <span class="text-primary">Read More</span>
                                    <svg class="usa-icon text-primary" aria-hidden="true" focusable="false" role="img">
                                        <use href="assets/img/sprite.svg#arrow_forward"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="usa-button usa-button--outline width-full margin-x-0 hover:bg-primary-dark hover:text-white">
                      View All News
                    </a>
                </div>
            </div>
        </section>
<section class="grid-container usa-section pt-0 mt-0">
            <div class="margin-bottom-4 border-bottom-05">
                <h2 class="font-heading-xl margin-top-0">
                    Blogs
                </h2>
            </div>
        <div class="grid-row grid-gap">
  <div class="tablet:grid-col-12">
    <ul class="usa-collection">
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h4 class="usa-collection__heading">
        <a
          class="usa-link"
          href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
          >Gears of Government President’s Award winners</a
        >
      </h4>
      <p class="usa-collection__description">
        Today, the Administration announces the winners of the Gears of
        Government President’s Award. This program recognizes the contributions
        of individuals and teams across the federal workforce who make a
        profound difference in the lives of the American people.
      </p>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item">
          By Sondra Ainsworth and Constance Lu
        </li>
        <li class="usa-collection__meta-item">
          <time datetime="2020-09-30T12:00:00+01:00">September 30, 2020</time>
        </li>
      </ul>
      <ul class="usa-collection__meta" aria-label="Topics">
        <li class="usa-collection__meta-item usa-tag usa-tag--new">New</li>
        <li class="usa-collection__meta-item usa-tag">PMA</li>
        <li class="usa-collection__meta-item usa-tag">OMB</li>
      </ul>
    </div>
  </li>
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h4 class="usa-collection__heading">
        <a
          class="usa-link"
          href="https://trumpadministration.archives.performance.gov/sba-wosb-dashboard/"
          >Women-owned small business dashboard</a
        >
      </h4>
      <p class="usa-collection__description">
        In honor of National Women’s Small Business Month, we’ve partnered with
        SBA’s Office of Government Contracting and Business Development and
        Office of Program Performance, Analysis, and Evaluation to highlight the
        Women-Owned Small Businesses (WOSBs) data dashboard!
      </p>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item">By Constance Lu</li>
        <li class="usa-collection__meta-item">
          <time datetime="2020-09-30T12:00:00+01:00">September 30, 2020</time>
        </li>
      </ul>
      <ul class="usa-collection__meta" aria-label="Topics">
        <li class="usa-collection__meta-item usa-tag">SBA</li>
      </ul>
    </div>
  </li>
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h4 class="usa-collection__heading">
        <a
          class="usa-link"
          href="https://trumpadministration.archives.performance.gov/September-2020-Updates-Show-Progress/"
          >September 2020 updates show progress on cross-agency and agency
          priority goals</a
        >
      </h4>
      <p class="usa-collection__description">
        Today, we published progress updates for both Cross-Agency Priority
        (CAP) Goals and Agency Priority Goals (APGs) for the third quarter of
        FY2020. These updates highlight recent milestones and accomplishments as
        well as related initiatives that support progress towards a more modern
        and effective government.
      </p>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item">By Eric L. Miller</li>
        <li class="usa-collection__meta-item">
          <time datetime="2020-09-17T12:00:00+01:00">September 17, 2020</time>
        </li>
      </ul>
      <ul class="usa-collection__meta" aria-label="Topics">
        <li class="usa-collection__meta-item usa-tag">Quarterly update</li>
        <li class="usa-collection__meta-item usa-tag">CAP goal</li>
        <li class="usa-collection__meta-item usa-tag">APG</li>
        <li class="usa-collection__meta-item usa-tag">PMA</li>
        <li class="usa-collection__meta-item usa-tag">Success story</li>
      </ul>
    </div>
  </li>
</ul>
<a href="#" class="usa-button usa-button--outline width-full margin-x-0 hover:bg-primary-dark hover:text-white margin-top-5">
                      View All Blogs
                    </a>
  </div>
</div>
</section>

 <section class="grid-container usa-section pt-0 mt-0">
                <div class="grid-row flex-justify-center">
                    <div class="grid-col-12">
                        <div class="bg-light padding-y-3 padding-x-3 desktop:padding-x-5">
                           <div class="margin-bottom-4 border-bottom-05">
                <h2 class="font-heading-xl">
                    Contact Us Form
                </h2>
                <p>Please fill out all required field and we will get back to you within 48 business hours</p>
            </div>
                            <form class="usa-form maxw-full">
                                <fieldset class="usa-fieldset">
                                  <div class="grid-row flex-justify-center grid-gap-3">
                                    <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-6">
                                    <label class="usa-label" for="given-name">First Name*</label>
                                    <input
                                        class="usa-input"
                                        id="given-name"
                                        name="first-name"
                                        aria-describedby="gnHint"
                                        required />
                                  </div>
                                    <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-6">
                                      <label class="usa-label" for="family-name">Last Name*</label>
                                    <input
                                        class="usa-input"
                                        id="family-name"
                                        name="last-name"
                                        aria-describedby="lnHint"
                                        required />
                                    </div>
                                    <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-6">
                                    <label class="usa-label" for="family-name">Email*</label>
                                    <input
                                        class="usa-input"
                                        id="family-name"
                                        name="last-name"
                                        aria-describedby="lnHint"
                                        required />
                                  </div>
                                   <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-6">
                                       <label class="usa-label" for="family-name">Phone Number*</label>
                                       <input
                                        class="usa-input"
                                        id="family-name"
                                        name="last-name"
                                        aria-describedby="lnHint"
                                        required />
                                    </div> 
                                     <div class="grid-col-12">
                                      <label class="usa-label" for="input-type-textarea">Message</label>
                                      <textarea
                                        class="usa-textarea"
                                        id="input-type-textarea"
                                        name="input-type-textarea"></textarea>
                                     </div>
                                  </div>
                                    <input class="usa-button margin-0" type="submit" value="Submit" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </section>